/* Service */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn__primary {
    color: #fff !important;
    background: #ff5b2e !important;
    border-color: #ff5b2e !important;
}

.btn {
    --height: 56px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    border: 1px solid rgb(0, 9, 88, 0.7);
    border-radius: 99px;
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    color: #000958;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section_heading {
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.19;
    color: #000958;
}

.service {
    margin-top: 190px;
    padding: 68px 0 100px;
    background: #fff6ed;
}

.service__top {
    text-align: center;
}

.service__desc,
.staff__desc {
    margin-bottom: 15px;
    font-family: Sora, sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1;
    color: #5e6085;
}

.service__body {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 65px;
    margin-top: 70px;
}

.service_item {
    width: 294px;
    padding: 30px;
    background: #fff;
    border: 2px solid rgba(255, 188, 122, 0.26);
    border-radius: 10px;
}

.service_item + .service_item {
    margin-top: 24px;
}

.service_item__heading {
    position: relative;
    padding-left: 12px;
    font-weight: 600;
    font-size: 2.3rem;
    line-height: 1;
    color: #000958;
}

.service_item__heading::before {
    position: absolute;
    inset: 0 auto 0 0;
    content: "";
    display: inline-block;
    width: 2px;
    border-radius: 1px;
    background: linear-gradient(#ff5b2e, #ffa187);
}

.service_item__desc {
    margin-top: 18px;
    font-size: 1.6rem;
    line-height: 1.71;
    color: #656689;
}

.service_item__more {
    display: inline-flex;
    align-items: center;
    margin-top: 24px;
    /* font-family: Sora, sans-serif; */
    font-size: 1.4rem;
    line-height: 1;
    color: #34396a;
}

.service_item__more::after {
    content: url(D:\Data_Store\F8_Product\react-hotel\frontend\public\homes\icons\arrow-up-right.svg);
    margin: 1px 0 0 5px;
}

.service__media {
    position: relative;
    margin-top: 18px;
}

.service__media::after {
    content: "";
    position: absolute;
    height: 350px;
    left: 16px;
    right: 16px;
    bottom: 0;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
    border-radius: 10px;
}

.service__img {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
}

.service__cta_wrap {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.service__cta {
    min-width: 214px;
    color: #ff5b2e;
    border-color: currentColor;
}
